


/* Events list */
ul.eventsList {list-style: none; margin:0; padding:0;}
ul.eventsList li {margin-bottom:1em; }
ul.eventsList .detail {float:left; width:65%;}
ul.eventsList .name {padding:2px 10px; color:#333; font-size:22px;}
ul.eventsList .startDate {padding:2px 10px; }

.cta-fundraise {float:right; width:33%;}
.cta-fundraise a {display: block; color:#fff; background: #f58220; padding:1em; text-decoration: none; text-align: center; border-radius: 2px;}
.cta-fundraise a:hover {background: #d85700;}

